/* ======== Cards de Animes: Em Alta ======== */
.categories-container {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
	gap: 2rem;
}

.cards-title {
	display: flex;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
	margin-left: 3.8rem;
    margin-top: 1rem;
	padding-left: 2rem;
}
.cards-title-2 {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
	margin-left: 3.8rem;
    margin-top: 1rem;

	padding-left: 2rem;
}


/* Imagens de fundo dos cards */
.card-1 { background-image: url('../../images/movies/Attackontitan.jpg'); }
.card-2 { background-image: url('../../images/movies/jujutsu.jpg'); }
.card-3 { background-image: url('../../images/movies/MyHero.png.webp'); }
.card-4 { background-image: url('../../images/movies/naruto.png'); }
.card-5 { background-image: url('../../images/movies/onepiece1.webp'); }
.card-6 { background-image: url('../../images/movies/tokyoghoul.webp'); }
.card-7 {background-image: url('../../images/movies/jojo.webp') ;}
.card-8 {background-image: url('../../images/movies/hxh.jpg') ;}
.card-9 {background-image: url('../../images/movies/demon-slayer.jpg') ;}
.card-10 {background-image: url('../../images/movies/dbz.webp') ;}


@media (max-width: 480px ) {
	.cards-title, .cards-title-2 {
		font-size: 1.2rem;
		margin-left: 1.5rem;
		padding-left: 1.5rem;
	}
}
